* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f8d7ff, #ffe8f5);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.container {
  width: 100%;
  max-width: 450px;
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

h1 {
  text-align: center;
  color: #a326a1;
  margin-bottom: 10px;
  font-size: 40px;
}

.subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
}

input:focus,
select:focus {
  outline: none;
  border-color: #c13abf;
}

button {
  background-color: #a326a1;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #851b83;
}


.success {
  text-align: center;
  padding: 40px 20px;
}

.success h1 {
  color: #a326a1;
  margin-bottom: 20px;
  font-size: 32px;
}

.success p {
  color: #555;
  font-size: 18px;
  line-height: 1.5;
}